{{ template "header" .}}



<div class="adept-jumbotron">

adept
<h1>Practice  Perfect</h1>
<p>Join <b>{{.UserCount}}</b> other learners using daily quizzes to master new topics and conquer self-education tasks with Adept.</p>
<div><a href="/register" class="adept-btn big grey">Sign Up</a> <a href="/login" class="adept-btn big grey">Log In</a></div>
</div>


<div class="mdl-grid adept-features">
	<div class="mdl-cell mdl-cell--4-col">
		<div style="padding: 4px;">
			<img src="/assets/img/home-chart.svg" />
			<h2 style="color:#fff; margin-top: 20px;">Adaptive Questions</h2>
			<p>Quizzes and questions that adjust to meet you where you are and lift you up.</p>
		</div>
	</div>

	<div class="mdl-cell mdl-cell--4-col">
		<div style="padding: 4px;">
			<img src="/assets/img/home-devices.svg" />
			<h2 style="color:#fff; margin-top: 20px;">Any Time, Place, Device</h2>
			<p>foo bar foo foo?  yes, foo bar</p>
		</div>
	</div>

	<div class="mdl-cell mdl-cell--4-col">
		<div style="padding: 4px;">
			<img src="/assets/img/home-controller.svg" />
			<h2 style="color:#fff; margin-top: 20px;">Gameified!</h2>
			<p>Compete against fellow learners or yourself, earn badges and achievements.</p>
		</div>
	</div>	
</div>


{{ template "footer" }}