{{define "modalheader"}}
<!DOCTYPE html>
<html class="google" lang="en">
  <head>
  	<title>Adept</title>

    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" href="/assets/css/grid.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/adept.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>

  </head>
<body>



	

{{ end }}