{{ template "header" }}
	<ul class="adept-breadcrumbs">
	<li><a href="/">Home</a></li>
	{{ range .Breadcrumbs.Breadcrumbs }}
		<li>{{.Text}}</li>
	{{ end }}
	</ul>

<!-- course -->

	<div class="mdl-grid">
	<div class="mdl-cell--3-col">
	</div>
	<div class="mdl-cell--6-col">
		<div class="adept-modal">
			<form id="registerForm" action="/register" method="post">		
			<div class="mdl-grid">

				<div class="mdl-cell mdl-cell--12-col">
					<h1>Register</h1>
				</div>
				<div class="mdl-cell mdl-cell--12-col">
					<input type="text" name="username" placeholder="Username" />
				</div>				
				<div class="mdl-cell mdl-cell--12-col">
					<input type="email" name="email" placeholder="Email" />
				</div>
				<div class="mdl-cell mdl-cell--12-col">
					<input type="password" name="password" placeholder="Password" />
				</div>
				<div class="mdl-cell mdl-cell--12-col">
					<input type="password" placeholder="Password (repeat)" />
				</div>				
				<div class="mdl-cell mdl-cell--12-col">
					<div style="padding: 10px;text-align: right">
					<a onclick="document.querySelector('#registerForm').submit();" class="adept-btn adept-btn-login">Register</a>
					</div>
				</div>							
			</div>
			</form>	
		</div>
	</div>
	<div class="mdl-cell--3-col">
	</div>	
	</div>


{{ template "footer" }}